.tela {
    display: flex;
    width: 90%;
    height: 700px;
    background-color: aquamarine;
    margin: 60px auto;
}
#imagens {
    width: 100%;
    height: 700px;
    /* background-color: rgb(155, 127, 255); */
}
#banner {
    display: flex;
    width: 100%;
    height: 700px;
}
#display {
    width: 90%;
    height: 700px;
    background-color: rgb(255, 127, 206);
}
#atual {
    width: 100%;
    height: 350px;
    background-color: rgba(47, 161, 228, 0.788);
}
#ultimas {
    width: 100%;
    height: 350px;
    background-color: rgb(216, 216, 216);
}
#titulo {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 40px;
}
#numero {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}
#chamada {
    display: flex;
    justify-content: center;
    align-items: center;
}
#itens {
    font-size: 35px;
    height: 100px;
    width: 100px;
    margin: auto;
    text-align: center;
}
#cadastro {
    width: 100%;
    height: 700px;
    background-color: rgb(155, 127, 255);
    text-align: center;
}
#chamarPessoa {
    width: 100%;
    height: 700px;
    text-align: center;
}
.texto {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}
.botao {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.botao:hover {
    background-color: rgb(255, 127, 206);
}
#textoSenha, #proximaSenha, .senhasGeradas, .senhasGeradas2 {
    font-size: 50px;
    text-align: center;
    padding: 20px;
}


