body {
    background-color: #f2f2f2;
}
#corpo {
    background-color: rgb(183, 248, 205);
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    border-radius: 10px;
    border: 3px solid rgb(144, 240, 176);
}
#visor {
    display: block;
    height: 150px;
    width: 320px;
    max-width: 320px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: aliceblue;
    border: 3px solid rgb(192, 225, 255);
}
.linhas {
    width: 320px;
    margin-top: 5px;
    margin: auto;
    margin-bottom: 9px;
    border-radius: 5px;
    background-color: aliceblue;
}
.ultimo {
    margin-bottom: 40px;
}
.number {
    height: 45px;
    width: 95px;
    margin: 2px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 17px;
    background-color: rgba(128, 128, 128, 0.164);
    border-color: rgb(234, 235, 240);
    border-radius: 4px;
}
.primeiro {
    margin-left: 8px;
}
.number:hover{
    background-color: rgba(128, 128, 128, 0.418);
}
#valorVisor {
    display: block;
    margin: auto;
    margin-top: 60px;
    font-size: 50px;
    text-align: right;
    margin-right: 20px;
}
.simbol {
    height: 45px;
    width: 70px;
    margin: 2px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 4px;
    font-size: 17px;
    border-color: rgb(234, 235, 240);
    border-radius: 4px;
    background-color: rgb(227, 207, 247);
}
.simbol:hover{
    background-color: rgb(190, 139, 241);
}
.igual {
    height: 45px;
    width: 95px;
    margin: 2px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 17px;
    background-color: rgb(173, 208, 247);
    border-radius: 5px;
}
.igual:hover {
    background-color: rgb(121, 180, 248);
}
