body {
    background-color: #f2f2f2;
}
.fightarea {
    display: flex;
    gap: 20px;
}
#char, #monster {
    flex: 1;

}
.lifebar {
    height: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.bar {
    width: 10%;
}
.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}
.log {
    height: 200px;
    border: 1px dotted gray;
    overflow-y: scroll;
}